ddns-update-style none;

option domain-name "localdomain";
option domain-name-servers 10.11.12.13;

default-lease-time 600;
max-lease-time 7200;

log-facility local7;

INTERFACESv4="{{ dhcp_interface }}";

subnet {{ dhcp_subnet }} netmask {{ dhcp_netmask }} {
    range {{ dhcp_range_start }} {{ dhcp_range_end }};
    max-lease-time 86400;
    option routers {{ dhcp_option_routers }};
    option domain-name-servers	{{ dhcp_domain_name_servers }};
    filename "pxelinux.0";
    next-server {{ dhcp_next_server }};
}
