listen=YES
local_enable=NO
write_enable=YES
anon_root=/srv/ftp/anonymous
xferlog_enable=YES
listen_port=21

anon_mkdir_write_enable=yes
anon_other_write_enable=yes
anon_upload_enable=yes
anonymous_enable=yes
ascii_download_enable=yes
ascii_upload_enable=yes
anon_world_readable_only=no
